@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap');


.container {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
}

.gradientNav {
    background-image: linear-gradient(45deg, rgb(3, 3, 3) 55%, rgb(255, 0, 0) 30%, rgb(224, 5, 5) 50%, rgb(239, 0, 0) 70%, rgb(0, 0, 0) 100%) !important;
}

.navbar-brand, .navbar-brand:hover{
    font-weight: 1000;
    font-family: 'Croissant One', sans-serif;
    font-size: 30px;
    color: gold;
}

.nav-link {
    font-weight: 900;
    transition: 0.5s;
    color: white;
}

.nav-link:hover {
    color: red;
}

.dropdown-menu {
    z-index: 9 !important;
    background-image: linear-gradient(45deg, rgb(3, 3, 3) 65%, rgb(255, 0, 0) 30%,
            rgb(224, 5, 5) 50%, rgb(239, 0, 0) 70%, rgb(0, 0, 0) 100%);

}

.dropdown-item {
    color: rgba(255, 255, 255, 0.836) !important;
    transition: 0.3s;
    font-weight: 900;

}

.dropdown-item:hover {
    background-color: rgb(0, 0, 0);
    font-weight: 900;
    color: rgb(255, 0, 0) !important;
}

.basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: url(../img/Slider1.jpg);
    font-weight: 1000;
    font-family: 'Croissant One', sans-serif;
}

/* nav button */
.fa-bars {
    font-size: 30px;
}

.stat-bars {
    overflow: hidden;
}

.call {
    height: 20px;
    width: 1%;
    float: left;
    background-color: rgb(255, 8, 0);
    overflow: hidden;
}

.dr-bg-img {
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.251) 100%), url(../img/dr.jpg);
    background-attachment: fixed;
    background-size: 100% 105%;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}

.dr_img_bg {
    width: 82%;
    float: left;
    height: 100%;
}

.shadow_box_dr_img {
    width: 18%;
    float: left;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.963)70%, rgba(0, 0, 0, 0.943) 100%);
}

.box_br_img_info ul {
    list-style: none;
    line-height: 60px;
}

.box_br_img_info li {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: whitesmoke;
}

.li_items_icons {
    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
footer
{
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 50% , rgba(255, 0, 0, 0.484) 160%), url('../img/footer_bg.jpg');
    background-position: center;
    background-size: cover;
}
footer .row, footer .row table a, footer .container-fluid h1
{
    list-style: none;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.781);
}

/* Contact Us Css */
.contact-basic-info{
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0.356) 100%), url(../img/contact/contact-baner.jpg);
    font-weight: 1000;
    font-family: 'Croissant One', sans-serif;
}
/* End Contact Us css  */

@media only screen and (max-width: 665px) {
    .basic-info {
        background-position: 1100px 500px;
    }

    .basic-info h1 {
        font-size: 29px;
        text-shadow: 1px 1px 10px black;
    }

    #navbarSupportedContent {
        position: fixed !important;
        top: 0px;
        left: 0px;
    }

    .sideNavComes {
        z-index: 99;
        height: 100vh;
        width: 100%;
        margin: 0px;
        background-color: black;
    }

    .sideNavComes li {
        margin-left: 18px;
    }

    .dr-bg-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.578)), url(../img/dr.jpg);
        background-size: 300% 100%;
        background-position: center;
        background-repeat: no-repeat !important;
        height: 900px;
    }

    .dr_img_bg {
        width: 100% !important;
        float: left;
        height: 100%;
    }

    .shadow_box_dr_img {
        width: 18%;
        float: left;
        height: 100%;
        display: none;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.963)70%, rgba(0, 0, 0, 0.943) 100%);
    }

    .box_br_img_info ul {
        list-style: none;
        line-height: 50px;
    }
    .title_dr
    {
        font-size: 25px !important;
        text-align: center;
    }
    .dr_img_bg .box_br_img_info ul li {
        font-size: 15px !important;
    }
    .drbgimgresmob
    {
        height: 800px !important;
    }
    .dr-bg-img
    {
        display: flex; justify-content: center; align-items: center;
    }



    .copyright-text
    {
        font-size: 8px;
    }
    .some-imp-links
    {
        font-size: 30px;
        margin: 0px !important;
        padding: 0px !important;
        margin-bottom: 20px !important  ;
    }

    /* Contact Us start */
    .contact-basic-info{
        display: flex;
        align-items: center;
        /* height: 67vh; */
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 10%,rgba(0, 0, 0, 0.37) 20%, rgba(0, 0, 0, 0.68) 100%), url(../img/contact/contact-baner.jpg);
        font-weight: 1000;
        font-family: 'Croissant One', sans-serif;
    }
    .contact-basic-info {
        background-size: cover;
        background-position: 1000px 100%;
    }
    /* Contact Us end */
}