@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap');


/* Index.html Files css starts */
.container-fluid {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Nav-bar css starts */
.gradientNav {
    background-image: linear-gradient(45deg, rgb(3, 3, 3) 55%, rgb(255, 0, 0) 30%, rgb(224, 5, 5) 50%, rgb(239, 0, 0) 70%, rgb(0, 0, 0) 100%) !important;
}

.navbar-brand,
.navbar-brand:hover {
    font-weight: 1000;
    font-family: 'Croissant One', sans-serif;
    font-size: 30px !important;
    color: gold;
}

.nav-link {
    font-weight: 900 !important;
    transition: 0.5s;
    color: white;
    font-size: 15px !important;
}

.nav-link:hover {
    color: red;
}

.dropdown-menu {
    z-index: 9 !important;
    background-image: linear-gradient(45deg, rgb(3, 3, 3) 65%, rgb(255, 0, 0) 30%,
            rgb(224, 5, 5) 50%, rgb(239, 0, 0) 70%, rgb(0, 0, 0) 100%);

}

.dropdown-item {
    color: rgba(255, 255, 255, 0.836) !important;
    transition: 0.3s;
    font-weight: 900;

}

.dropdown-item:hover {
    background-color: rgb(0, 0, 0);
    font-weight: 900;
    color: rgb(255, 0, 0) !important;
}

.fa-bars {
    font-size: 30px;
}

/* nav-bar css ends */

/* index baner section css starts */
.basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: url(../img/Slider1.jpg);
    font-weight: 1000;
}

.basic-info h1 {
    font-family: 'Croissant One', sans-serif;
    font-size: 80px;
}

/* index baner section css Ends */

/* process bar starts */
.stat-bars {
    overflow: hidden;
}

.call {
    height: 20px;
    width: 1%;
    float: left;
    background-color: rgb(255, 8, 0);
    overflow: hidden;
}

/* Process bar css ends */

/* Owl Carousel Part Starts */

.home-owl-carosel {
    height: 80vh;
}

.home-owl-carosel .item {
    height: 60vh;
}

.owl-carousel-img {
    width: 100%;
}

.home-owl-carosel h1 {
    font-family: 'Autour One', Sorkin Type;
    font-size: 80px;
}

/* Owl Carousel Part Ends */

/* Doctor images section css starts */
.dr-bg-img {
    float: left;
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.251) 100%), url(../img/dr.jpg);
    background-attachment: fixed;
    background-size: 100% 105%;
}

.dr_img_bg {
    width: 82%;
    float: left;
    height: 100%;
}

.shadow_box_dr_img {
    width: 18%;
    float: left;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.963)70%, rgba(0, 0, 0, 0.943) 100%);
}

.box_br_img_info ul {
    list-style: none;
    line-height: 60px;
}

.box_br_img_info li {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: whitesmoke;
}

.li_items_icons {
    border-radius: 50%;
    color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Doctor images section css Ends */


/* Our Services Css Starts */
.services-cards .rounded .card {
    transition: 0.5s ease-out;
}

.services-cards .rounded .card:hover {
    /* background-color: rgba(0, 211, 230, 0.763); */
    transform: scale(1.1);
    cursor: pointer;
}

.service-datarecovery-row {
    height: 90vh;
    display: flex;
    align-items: center;
}

/* Our Services Css Ends */

/* Data recovery process css starts */
.data-recovery-process .services-cards .card {
    background-color: rgba(138, 209, 254, 0.523);
    border-radius: 10px;
    height: 100%;
}

.data-recovery-process .services-cards .card-body {
    background-color: rgb(0, 152, 217);
    border-radius: 10px;
    color: white;
    height: 100%;
}

.cards-recovery-process {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cards-recovery-process .row:hover {
    transform: scale(1.2);
    background-color: transparent;
    background-color: rgb(0, 166, 255);
    z-index: 9999;
    cursor: pointer;
}

.cards-recovery-process .row {
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.data-recovery-process {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.cards-recovery-process .row {
    background-color: rgb(230, 000, 100);
    color: rgb(255, 255, 255);
}

.cards-recovery-process .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-recovery-process .col-9 {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.cards-recovery-process .col-3 i {
    font-size: 30px;
}

.data-recovery-process .services-cards,
.data-recovery-process .rounded,
.data-recovery-process .card {
    min-height: 300px;
}

.data-recovery-process .card img {
    max-height: 160px;
    max-width: 200px;
}

/* Data recovery process css Ends */


/* Footer Section Css Starts */
footer {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgba(255, 0, 0, 0.484) 160%), url('../img/footer_bg.jpg');
    background-position: center;
    background-size: cover;
}

footer .row,
footer .row table a,
footer .container-fluid h1,
footer h5 {
    list-style: none;
    text-decoration: none;
    color: rgba(227, 227, 227, 0.884);
}

/* Footer Section Css Ends */

/* Index.html Files css Ends */

/* Services Section Css Starts */
.service-basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: url(../img/Services/service-bg.jpg);
    background-position: 10 400;
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 1000;
    font-family: 'Abril', Fatface;
}

.service-basic-info .text-center h1 {
    font-size: 80px !important;
    text-shadow: 0px 0px 10px black;
    letter-spacing: 10px;
    font-weight: 800;
}

.service-collapse-info .btns button {
    outline: 0px !important;
    box-shadow: none !important;
}

.service-datarecovery-row img {
    border-radius: 50% !important;
}

/* Services Section Css Ends */

/* Products Section Starts */
.products-basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.53) 20%, rgba(0, 0, 0, 0.356) 100%), url(../img/products/laptop.png);
    font-weight: 1000;
    background-size: 100% 100%;
}

.products-basic-info h1 {
    font-family: 'Abril', Fatface;
    font-size: 80px;
}

.products-btn-parts button {
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin-top: 12px;
}

/* 
.products-cards-section .card
{
    box-shadow: -6px -6px 35px rgb(0, 0, 0) inset;
    background-color: rgb(255, 255, 255);
    border: none;
}
.products-cards-section .prodcard
{
    height: 400px;
}
.prodcard .photo 
{
    width: 45%;
    height: 100%;
}
.prodcard .description 
{
    width: 55%;
}
.photo img
{
    height: 100% ;
    width: 100% ;
} */

.productCard {
    min-height: 400px;
    background-color: white;
}

.productCard .prodcard-image {
    height: 100%;
    width: 30%;
    float: left;
    padding: 50px;
}

.productCard .prodcard-details {
    height: auto;
    width: 100%;
    padding: 60px;
}

.productCard .prodcard-details button {
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.search-bar-btn {
    height: 100% !important;

}

.searchbar {
    height: 100%;
    width: 80%;
    float: left;
    box-sizing: border-box;
}

.search-bar-btn .button {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    float: left;
}

#search {
    position: sticky !important;
    top: 0px;
    z-index: 9999;
}

.searchbar input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
    border-radius: 6px 0px 0px 6px;
}

.search-bar-btn button {
    margin: 0px !important;
    height: 100%;
    width: 100%;
    border-radius: 0px 6px 6px 0px;
}

/* Products Section Ends */


/* Traning section Starts */
.training-basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.897) 20%, rgba(0, 0, 0, 0.356) 100%), url(../img/traning/banner.jpg);
    background-size: 100% 100%;
    font-weight: 1000;
    font-family: 'Abril', Fatface;

}

.alltextofheads .text-center h1 {
    font-size: 80px !important;
    text-shadow: 0px 0px 10px black;
    letter-spacing: 8px;
    font-weight: 800;
}

.computer-train-course img {
    height: 300px;
}

/* Traning section ends */


/* About us section start */
.about-basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: url(../img/about/bg_img.jpg);
    background-position: 10 400;
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 1000;
    font-family: 'Abril', Fatface;
}

.about-basic-info .text-center h1 {
    font-size: 80px !important;
    text-shadow: 0px 0px 10px black;
    letter-spacing: 10px;
    font-weight: 800;
}

.about-collapse-info .btns button {
    outline: 0px !important;
    box-shadow: none !important;
}

.about-section .who-we-are h2::first-letter {
    font-size: 60px !important;
}

.about-section .who-we-are h1::first-letter {
    font-size: 80px !important;
    color: gold
}

.about-section .who-we-are h1 {
    color: rgb(0, 217, 255)
}

.about-section .wehaveitems {
    min-height: 90vh;
}

/* About  us section ends */


/* Contact Page Css Starts */
.contact-basic-info {
    display: flex;
    align-items: center;
    height: 67vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.53) 20%, rgba(0, 0, 0, 0.356) 100%), url(../img/contact/contact-baner.jpg);
    font-weight: 1000;
}

.contact-basic-info h1 {
    font-family: 'Abril', Fatface;
    font-size: 80px;
}

.shake-hand-page {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgba(255, 0, 0, 0.484) 160%), url('../img/footer_bg.jpg');
    background-position: center;
    background-size: cover;
}

.shake-hand-page .row .big-text {
    font-size: 20px !important;
}

.no-gutters input,
.no-gutters textarea {
    background-color: transparent !important;
    border-bottom: 2px solid aqua !important;
    color: white !important;

}

/* Contact Page Css End */

@media only screen and (max-width: 767px) {

    /* Index Page Css Starts */
    .basic-info {
        /* background-repeat: no-repeat !important; */
        background-size: cover;
        background-position: 1300px 100%;
    }

    .basic-info h1 {
        font-size: 29px;
        text-shadow: 1px 1px 10px black;
    }

    #navbarSupportedContent {
        position: fixed !important;
        top: 0px;
        left: 0px;
    }

    .sideNavComes {
        z-index: 99;
        height: 100vh;
        width: 100%;
        margin: 0px;
        background-color: black;
    }

    .sideNavComes li {
        margin-left: 18px;
    }

    .home-owl-carosel {
        height: auto;
    }

    .home-owl-carosel .item {
        height: 50vh;
    }

    .home-owl-carosel h1 {
        font-family: 'Autour One', Sorkin Type;
        font-size: 40px;
    }

    .dr-bg-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.578)), url(../img/dr.jpg);
        background-position: center;
        background-repeat: no-repeat !important;
        height: auto;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        float: left;
        background-size: cover !important;
    }

    .dr_img_bg {
        width: 100% !important;
        float: left;
        height: 100%;
    }

    .shadow_box_dr_img {
        width: 18%;
        float: left;
        height: 100%;
        display: none;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.963)70%, rgba(0, 0, 0, 0.943) 100%);
    }

    .box_br_img_info ul {
        list-style: none;
        line-height: 50px;
    }

    .title_dr {
        font-size: 25px !important;
        text-align: center;
    }

    .dr_img_bg .box_br_img_info ul li {
        font-size: 15px !important;
    }

    .drbgimgresmob {
        height: 700px !important;
    }

    .dr-bg-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .data-recovery-process h1 {
        font-size: 25px;
        margin: 0px;
        padding: 0px;
    }

    .data-recovery-process p {
        font-size: 15px;
        font-weight: 100;
        margin-top: 0px;
        padding: 0px;
    }



    .copyright-text {
        font-size: 8px;
    }

    .some-imp-links {
        font-size: 30px;
        margin: 0px !important;
        padding: 0px !important;
        margin-bottom: 20px !important;
    }

    /* Index page css ends */

    /* Services Section Css Starts */
    .service-basic-info {
        display: flex;
        align-items: center;
        height: 67vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.24) 10%, black), url(../img/Services/service-bg.jpg);
        background-position: center;
        background-size: 600px 100%;
        background-repeat: no-repeat;
        font-weight: 1000;
    }

    .service-basic-info .text-center h1 {
        font-size: 50px !important;
        text-shadow: 0px 0px 10px black;
        letter-spacing: 10px;
        font-weight: 800;
    }

    .service-collapse-info .btns button {
        outline: 0px !important;
        width: 100% !important;
        box-shadow: none !important;
    }

    .service-collapse-info .card-body .row img {
        height: auto;
        width: 200px !important;
    }

    .service-datarecovery-row {
        height: auto;
    }

    .service-datarecovery-row h1 {
        font-size: 25px;
    }

    .service-datarecovery-row h3,
    .service-datarecovery-row .btn-success {
        font-size: 20px !important;
    }

    /* Services Section Css Ends */

    /* Products section css Starts */
    .products-btn-parts button {
        border: none;
        border-radius: 0px;
        padding: 10px;
        width: 100%;
        margin-top: 4px;
    }

    /* .prodcard .photo
    {
        padding: 50px;
    }
    .prodcard .photo,.prodcard .description
    {
        width: 100%;
        height: auto;
        float: none;
    }
    .products-cards-section .prodcard
    {
        height: auto;
    } */
    .productCard .prodcard-image {
        height: auto;
        width: 100%;
    }

    /* Products section Css Ends */


    /* Traning Section Starts */
    .training-basic-info {
        display: flex;
        align-items: center;
        height: 67vh;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.897) 20%, rgba(0, 0, 0, 0.356) 100%), url(../img/traning/banner.jpg);
        background-position: center;
        background-size: 600px 100%;
        background-repeat: no-repeat;
        font-weight: 1000;
    }

    .computer-train-course img {
        height: 200px;
    }

    /* Traning section Ends */



    /* About Us Section */
    .about-basic-info {
        display: flex;
        align-items: center;
        height: 67vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.24) 10%, black), url(../img/about/bg_img.jpg);
        background-position: center;
        background-size: 600px 100%;
        background-repeat: no-repeat;
        font-weight: 1000;
    }

    .about-basic-info .text-center h1 {
        font-size: 50px !important;
        text-shadow: 0px 0px 10px black;
        letter-spacing: 10px;
        font-weight: 800;
    }

    .about-collapse-info .btns button {
        outline: 0px !important;
        width: 100% !important;
        box-shadow: none !important;
    }

    .about-section .who-we-are h2::first-letter {
        font-size: 60px !important;
    }

    .about-section .who-we-are h1::first-letter {
        font-size: 50px !important;
        color: gold
    }

    .about-section .who-we-are {
        text-align: center;
    }

    .about-section .who-we-are h1 {
        color: rgb(0, 217, 255);
        font-size: 25px !important;
    }

    .about-section .who-we-are h3 {
        color: rgb(0, 217, 255);
        font-size: 20px !important;
    }

    .wehaveitems {
        height: auto !important;
        margin-top: 70px;
        margin-bottom: 70px;
    }




    /* Contact Page start */
    .contact-basic-info {
        display: flex;
        align-items: center;
        /* height: 67vh; */
        background-image: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.37) 20%, rgba(0, 0, 0, 0.68) 100%), url(../img/contact/contact-baner.jpg);
        font-weight: 1000;
        font-family: 'Croissant One', sans-serif;
    }

    .contact-basic-info h1 {
        font-family: 'Abril', Fatface;
        font-size: 50px;
    }

    .contact-basic-info {
        background-size: cover;
        background-position: 1000px 100%;
    }

    .shake-hand-page .row .big-text {
        font-size: 20px !important;
        margin-left: 20px;
    }

    .shake-hand-page .row .value-text {
        margin-left: 35px;
    }

    .contact-container {
        padding: 10px !important;
    }

    /* Contact Page end */
}